h1{
    color: coral;
}
img {
    width: 400px; 
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: darkblue;
    padding: 50px;
    border: 4px solid tomato;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}